<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="content">
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-4 mt-5">
            <div class="card">
                <div class="card-header">Add new Attendee</div>
                <div class="card-body">
                    <form th:action="@{/admin}" method="post" class="form-group">

                        <div class="form-group">
                            <label for="email">Email:&nbsp;</label>
                            <input class="form-control" type="text" name="email" id="email" maxlength="50"/>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Save"/>

                    </form>
                </div>
                <div class="panel-footer"><span th:text="${message}">Status</span></div>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 mt-5">
            <div class="card">
                <div class="card-header">Attendee List</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="attendee : ${attendees}">
                            <td th:text="${attendee.getEmail()}">Email</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>
</body>
</html>