<!doctype html>
<html layout:decorator="layout/layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body class="pt-3">
<th:block layout:fragment="content">
        <!--jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-info text-white">
            <div class="container text-sm-center pt-5">
                <h1 class="display-2">Music Club Student Portal</h1>
                <p class="lead">All music makers welcome!</p>
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-lg" href="#register">Register Now!</a>
                    <a class="btn btn-secondary btn-lg" href="#speakers">See Learning Groups</a>
                </div>
            </div>
        </div>
        <!--/jumbotron -->
        <div th:fragment="flash" th:if="${flash != null}" class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><span th:text="${flash}"></span></strong>
        </div>
        <div class="container pt-5">
            <!-- about -->
            <div class="row">
                <div class="col-sm">
                    <h3 class="mt-2 mb-4 ">About the Music Club</h3>
                    <img class="mb-1 rounded img-fluid" th:src="@{/music1.gif}" alt="st.louis" />
                    <p>Come to the Music Club for a wonderful music filled experience.</p>
                    <p>In the Music Club you can play and create music with your friends, learn how to play an instrument or learn about the music business.</p>
                </div>
                <div class="col-sm">
                    <h3 class="mt-2 mb-4">Community Based Teaching</h3>
                    <p>In the Music Club there isn't solely one or two teachers, rather an atmosphere and environment.</p>
                    <p>In this club the students are broken up into groups based on what they want to learn, and the teach and exchange knowledge with each other.</p>
                    <p>Being taught by your peers offers and fun learning enriched environment filled with understanding and patience for your learning and craft.</p>
                </div>
                <div class="col-sm">
                    <h3 class="mt-2 mb-4">What You'll Learn</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action"><strong>Sheet Music</strong>:Learn to read sheet music</a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>DAW</strong> Digital Audio Workstations: Fl Studio, Ableton, Reason</a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Songwriting</strong>: Learn song strucutres and write lyrics</a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Music Business</strong>: Learn to about the Music Industry</a>
                        <a href="#" class="list-group-item list-group-item-action"><strong>Learn Instruments of Choice</strong>: A safe space to learn and new instrument with friends</a>
                    </div>
                </div>
            </div> <!-- /about -->

            <!-- Learning -->
            <h1 id="speakers" class="display-4 text-center my-3 text-muted">Learning Groups</h1>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/music2.gif}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Sheet Music Group</h4>
                            <p class="card-text">Students group together to learn how to read sheet music.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/music3.gif}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">DAW Group</h4>
                            <p class="card-text">Students will learn how to use various Digital Audio Workstations such as FL Studio, ProTools, Ableton, Reason and/or Logic.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/music4.gif}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Songwriting Group</h4>
                            <p class="card-text">Students will learn to writing songs and learn about different song structures.</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/music5.gif}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Music Business</h4>
                            <p class="card-text">Students will learn about the ins and outs of the music industry and business.</p>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/music6.gif}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Learn Instruments of Choice</h4>
                            <p class="card-text">Students will work together to teach other the instruments that the want to learn.</p>
                        </div>
                    </div>
                </div>

            </div><!-- /groups -->

            <!--schedule -->
            <h1 id="schedule" class="display-4 text-center my-3 text-muted">Daily Schedule</h1>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Greetings</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">9:00am</span>
                    </div>
                    <p class="mb-1">Attendence is taken.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Break off into learning groups</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">10:00am</span>
                    </div>
                    <p class="mb-1">Students will work in different learning groups: DAW, Sheet Music, etc.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Break/Snack Time</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">11:00am</span>
                    </div>
                    <p class="mb-1">Each week a member brings snacks for the club.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Re-Group</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">1:00pm</span>
                    </div>
                    <p class="mb-1">Members go back into learning groups.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Group Send off</h5>
                        <span class="badge badge-default badge-pill bg-info px-2 py-2 mt-2">2:00pm</span>
                    </div>
                    <p class="mb-1">The groups come together to meet before the club is over for the day.</p>
                </a>
            </div>

            <!-- callout button -->
            <button type="button" class="btn btn-outline-info btn-lg d-block mx-auto my-5">Join Now!</button>

            <!-- signup form -->
            <hr />
            <form action="#" th:action="@{/register}" th:object="${attendee}" method="post">
                <div class="row py-4 text-muted">
                    <div class="col-md-6">
                        <p><strong>About the Music Club</strong></p>
                        <p>The Music Club boasts enriched learning with a hands on experience that is taught with compassion, understanding and patience.</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Stay up-to-date on the Music Club</strong></p>
                        <div class="input-group">
                            <input id="register" type="text" th:field="*{email}" class="form-control" placeholder="Enter your email for info..." aria-label="Enter your email for info..." aria-describedby="basic-addon2" />
                            <span class="input-group-btn"> <button class="btn btn-primary" type="submit" value="Submit">Sign up</button></span>
                        </div>
                    </div>
                </div>
            </form>
            <hr /><!-- /signup form -->

            <!-- footer -->
            <div class="row py-3">
                <div class="col-md-7">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">About the Music Club</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Back to Top</a>
                        </li>
                        <li class="nav-item">
                            <!-- split button -->
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-deoco">Learn</button>
                                <button type="button" class="btn btn-deoco dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">DAW</a>
                                    <a class="dropdown-item" href="#">Music Business</a>
                                    <a class="dropdown-item" href="#">Songwriting</a>
                                    <a class="dropdown-item" href="#">Sheet Music</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 text-md-right">
                    <small>The Music Club</small>
                </div>
            </div>

            <!-- /footer -->

        </div>
</th:block>
</body>
</html>